<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="hieusmall">
  <title><%= title %></title>
  <!-- Favicon -->
  <link rel="icon" href="/assets/img/brand/favicon.png" type="image/png">
  <!-- Font Awesome 5 -->
  <link rel="stylesheet" href="/assets/libs/@fortawesome/fontawesome-free/css/all.min.css"><!-- Page CSS -->
  <link rel="stylesheet" href="/assets/libs/swiper/dist/css/swiper.min.css">
  <link type="text/css" href="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
  <!-- Purpose CSS -->
  <link rel="stylesheet" href="/assets/css/purpose.css" id="stylesheet">
</head>

<body>
  <div class="main-content">
    <section class="pt-5 pt-lg-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div data-toggle="sticky" data-sticky-offset="30" data-negative-margin=".card-profile-cover">
              <div class="card card-profile border-0">
                <div class="card-profile-cover">
                  <img alt="Image placeholder" src="/images/background.png" class="card-img-top">
                </div>
                <a href="#" class="mx-auto">
                  <img alt="Image placeholder" src="/images/avatar.jpg" class="card-profile-image avatar rounded-circle shadow hover-shadow-lg">
                </a>
                <div class="card-body p-3 pt-0 text-center">
                  <h5 class="mb-0">Nguyễn Trung Hiếu</h5>
                  <span class="d-block text-muted mb-3">Full StackOverflow Developer</span>
                 
                  <div class="actions d-flex justify-content-between mt-3 pt-3 px-5 delimiter-top">
                    <a href="#" class="action-item">
                      <i class="fas fa-envelope"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-user"></i>
                    </a>
                    <a href="#" class="action-item">
                      <i class="fas fa-chart-pie"></i>
                    </a>
                    <a href="#" class="action-item text-danger">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-lg-5">
            <!-- Timeline -->
            <div class="card">
              <div class="card-body">
              	<!-- Mục Tiêu -->
              	<div>
              		<h6 class="mb-4">
              			<i class="fab fa-telegram-plane mr-2"></i> Mục tiêu
              		</h6>
              		<p>
	            	- Học hỏi kiến thức , kĩ năng trên nhiều phương diện<br>
	                - Áp dụng những kiến thức tích lũy được để trở thành 1 lập trình viên chuyên nghiệp<br>
	            	- Làm ra sản phẩm thiết thực , hữu ích , tạo ra giá trị cho công ty và người sử dụng <br>
	            	- Cải tiến , cập nhật những công nghệ mới cho sản phẩm của mình
	            	</p>
              	</div>
                
                <div class="pt-5 mt-5 delimiter-top">
                  <!-- Title -->
                  <h6 class="mb-4">
                    <i class="fas fa-file-signature mr-2"></i>Kinh Nghiệm
                  </h6>
                  <!-- Timeline -->
                  <div class="timeline timeline-one-side" data-timeline-content="axis">
                    <div class="timeline-block">
                      <span class="timeline-step border-primary"></span>
                      <div class="timeline-content">
                        <small class="text-muted font-weight-bold">2017 - 2020</small>
                        <h6>Lập trình viên Fullstack tại Thẩm Mỹ Viện Ngọc Dung</h6>
                        <p class="text-sm lh-160">
                       	- Hỗ trợ thiết kế và xây dựng website thương hiệu. <br>
                       	- Lập trình giao diện và plugin trên nền tảng wordpress theo yêu cầu <br>
                       	- Phối hợp với các team marketing online để làm landingpage , hoặc các minigame trên website , đạt hiệu quả cao trong việc thu thập dữ liệu khách hàng tiềm năng. <br>
						- Cùng đội ngũ xây dựng các hệ thống quản lí khách hàng , quản lí công việc, quản lí chương trình khuyến mãi , báo cáo , thống kê số liệu khách hàng , đo lường hiệu quả theo từng chiến dịch marketing. <br>
						- Xây dựng ứng dụng gửi tin nhắn brandname với API của sms Solution <br>
						- Xây dựng chatbot trả lời tự động , chatbot viral hỗ trợ mục tiêu lan tỏa thương hiệu , thu thập khách hàng tiềm năng. <br>
						- Quản lí tài nguyên domain và server phục vụ cho việc marketing , làm việc tốt với linux ubuntu. <br>
                        </p>
                        <div>
                          <span class="badge badge-soft-primary mr-2 mb-2">Bootstrap</span>
                          <span class="badge badge-soft-primary mr-2 mb-2">Wordpress</span>
                          <span class="badge badge-soft-primary mr-2 mb-2">Laravel</span>
                          <span class="badge badge-soft-primary mr-2 mb-2">Nodejs</span>
                          <span class="badge badge-soft-primary mr-2 mb-2">Nginx&Apache</span>
                          <span class="badge badge-soft-primary mr-2 mb-2">Ahachat</span>
                        </div>
                      </div>
                    </div>
                    <div class="timeline-block">
                      <span class="timeline-step timeline-step-sm border-warning"></span>
                      <div class="timeline-content">
                        <small class="text-muted font-weight-bold">2014 - 2017</small>
                        <h6>Học Công Nghệ Thông Tin tại Viện Đại Học Mở Hà Nội</h6>
                        <div>
                          <span class="badge badge-soft-warning mr-2 mb-2">Javascript</span>
                          <span class="badge badge-soft-warning mr-2 mb-2">HTML</span>
                          <span class="badge badge-soft-warning mr-2 mb-2">CSS</span>
                          <span class="badge badge-soft-warning mr-2 mb-2">Responsive Design</span>
                          <span class="badge badge-soft-warning mr-2 mb-2">PHP</span>
                      	</div>
                      </div>
                    </div>
                  </div>
                </div>

				<!-- Project -->
				<% projects = typeof projects == "object" && projects instanceof Array && projects.length > 0 ? projects : false; %>
                
				<% if (projects) { %>
					<div class="pt-5 mt-5 delimiter-top">
	                	<!-- Title -->
		                <h6 class="mb-4">
		                	<i class="fas fa-project-diagram mr-2"></i>Một Vài Dự Án Tôi Tham Gia
		                </h6>

		                <div class="container">
		                	<div class="row">
								<% projects.forEach(function(p) { %>
									<!-- Desktop -->
			                		<div class="col-lg-6 d-none">
			                			<div class="card card-overlay card-hover-overlay hover-shadow-lg hover-translate-y-n10">
										    <figure class="figure">
										        <img alt="<%= p.title %>" src="<%= p.demoImageURL %>" class="img-fluid">
										    </figure>
										    <div class="card-img-overlay d-flex flex-column align-items-center p-0">
										        <div class="overlay-text w-100 mt-auto p-3">
										            <p class="lead font-weight-bold"><%= p.title %></p>
										            <a href="#!" class="link link-underline-white font-weight-bold"><%= p.topic %></a>
										        </div>
										        <div class="overlay-actions w-100 card-footer mt-auto d-flex justify-content-between align-items-center">
										            <div class="ml-auto">
										                <div class="actions">
										                	<a href="<%= p.link %>" target="_blank" class="action-item mr-3"><i class="fas fa-paperclip" title="Đi tới"></i></a>
										                    <a href="javascript:;" class="action-item mr-3" data-fancybox data-type="iframe" data-src="<%= p.link %>" title="Xem thử"><i class="fas fa-eye"></i></a>
										                    <a href="#!" class="action-item" title="Thích"><i class="fas fa-heart"></i></a>
										                </div>
										            </div>
										        </div>
										    </div>
										</div>
			                		</div>

									<!-- Mobile -->
			                		<div class="col-lg-6">
			                			<div class="card card-overlay hover-shadow-lg hover-translate-y-n10">
										    <img alt="<%= p.title %>" src="<%= p.demoImageURL %>" class="card-img">
										<span class="mask bg-dark opacity-8"></span><div class="card-img-overlay d-flex flex-column align-items-center p-0">
										        <div class="overlay-text w-100 mt-auto p-3">
										            <p class="lead font-weight-bold"><%= p.title %></p>
										            <a href="#!" class="link link-underline-white font-weight-bold"><%= p.topic %></a>
										        </div>
										        <div class="overlay-actions w-100 card-footer mt-auto d-flex justify-content-between align-items-center">
										            <!-- <div>
										                <a href="#!" class="h5 mb-0">Living dangerously</a>
										            </div> -->
										            <div class="ml-auto">
										                <div class="actions">
										                    <a href="<%= p.link %>" target="_blank" class="action-item mr-4"><i class="fas fa-paperclip"></i></a>
										                    <a href="javascript:;" data-fancybox data-type="iframe" data-src="<%= p.link %>" title="Xem thử" class="action-item mr-4"><i class="fas fa-eye"></i></a>
										                    <a href="#!" class="action-item"><i class="fas fa-heart"></i></a>
										                </div>
										            </div>
										        </div>
										    </div>
										</div>
			                		</div>
		                		<% }) %>
		                	</div>
		                </div>
	                </div>
				<% } %>
				
                <!-- <div class="pt-5 mt-5 delimiter-top">
                  Title
                  <h6>
                    <i class="fas fa-user-n mr-2 mb-4"></i>Kĩ Năng
                  </h6>
                  Skil badges
                  <div>
                    <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Web Design</a>
                    <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Development</a>
                    <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">UI/UX</a>
                    <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Bootstrap 4</a>
                    <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">User Experience</a>
                    <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Psychology</a>
                    <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Photoshop</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="/assets/js/purpose.core.js"></script>
  <!-- Page JS -->
  <script src="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="/assets/libs/swiper/dist/js/swiper.min.js"></script>
  <script src="/assets/libs/autosize/dist/autosize.min.js"></script>
  <!-- Purpose JS -->
  <script src="/assets/js/purpose.js"></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="/assets/js/demo.js"></script>
</body>

</html>